#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 3rem;
  text-align: center;
}

.bi {
  color: #5D6D7E
}

.bi-pencil-square:hover {
  color: #007bff;
}

.bi-trash-fill:hover {
  color: #dc3545;
}

.bi-plus-square-fill:hover {
  color: #28a745;
}

.ToDoElementTitle {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#floatingTextarea2 {
  height: 7rem;
}