/* NavBar */

.navbar {
  background-color: #2E4053;
  color: white;
}

.nav-item .nav-link{
  color: white;
}

/* Body */

[data-bs-theme="dark"] body {
    background-color: #141414;
}

[data-bs-theme="light"] body {
    background-color: #F2F3F4;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 8rem;
}

/* Tools buttons */

.bi {
  color: #5D6D7E
}

.bi-pencil-square:hover {
  color: #007bff;
}

.bi-trash-fill:hover {
  color: #dc3545;
}

.bi-plus-square-fill:hover {
  color: #28a745;
}

.form-check-input:checked {
  background-color: #2ECC71;
  border-color: #2ECC71;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 253, 53, 0.25);
}

.text-bg-High {
  color: #B03A2E!important;
  background-color: #FADBD8!important;
}

.text-bg-Medium {
  color: #E67E22!important;
  background-color: #FDEBD0!important;
}

.text-bg-Low {
  color: #2ECC71!important;
  background-color: #D5F5E3!important;
}

.newSpan {
  padding: 0!important;
}

span {
  margin: 0 0.2rem;
}

.spanDiv {
  width: 3rem;
  display: flex;
  justify-content: center
}

/* ToDoList */

.todolist {
  width: 100%;
  max-width: 50rem;
  min-width: 25rem;
}

/* ToDoElement */

.ToDoElementTitle {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  display: flex;
  min-width: 5rem;
}

#floatingTextarea2 {
  height: 7rem;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: inherit;
}

button.accordion-button:focus{
  box-shadow: inherit;
}

